<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel = "stylesheet" href="/css/index.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
            integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="public/page.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Wildlife-Tracker</title>
</head>
<body
>
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">Wildlife-Tracker</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals">Animals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sightings">Sightings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />

<br />
<div
        style="
        background-color: RGB(145, 134, 89, 0.7);
        width: 60%;
        margin-left: 20%;
        padding: 5%;
      "
>
    <form action="/sightings/new" method="post" class="">
        <br />
        <div class="form-group" style="padding: 5%">
            <div class="form-group">
                <label for="name" class="text-warning">Select Animal Name</label>
                <select
                        class="form-control"
                        style="width: 700px"
                        name="name"
                        id="name"
                        type="text"
                        required
                >

                    {{#each eAnimals}}
                        <option value="{{id}}" > {{id}} {{animalType}} {{animalName}} {{health}} {{age}} </option>
                        <br>
                    {{/each}}
                </select>
            </div>

            <br />

            <div class="form-group">
                <label for="location" class="text-warning">Select Location</label>
                <select
                        class="form-control"
                        style="width: 300px"
                        name="location"
                        id="location"
                        type="text"
                        required
                >
                    <option>Zone A</option>
                    <option>Zone B</option>
                    <option>Zone C</option>
                </select>
            </div>
            <br />
            <div class="form-group" >
                <label for="ranger" class="text-warning">Ranger's Name</label>
                <input
                        type="text"
                        required
                        class="form-control"
                        name="ranger"
                        id="ranger"
                        style="width: 300px"
                />
                <br />
            </div>
            <button type="submit" class="btn btn-warning">Add</button>
        </div>
        <br />
    </form>
</div>

</body>
<!-- footer -->
<br><br><br><br>
<script
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
        integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
        crossorigin="anonymous"
></script>
</html>